<!--
  This will be the basic HTML file used
  to wrap every response from dotted
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>:title:</title>
</head>
<body dotted>
  <div id="app"></div>

  <script src="/app.js" type="module"></script>
  <!-- Load the script to enable HMR. -->
  <script>
    window.HMR_WEBSOCKET_PORT = :HMR_PORT:;
  </script>
  <script type="module" src="/_snowpack/hmr-client.js"></script>
</body>
</html>